/* Footer.css */


.footer {
    background-color: #39a8ca;
    color: #fff;
    padding: 10px; /* Reducir el padding a 10px o el valor deseado */
    text-align: center;
  }
  
  .footerLinks {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .footerLink {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .footerLink:hover {
    color: #007bff; /* Cambia el color al pasar el cursor por encima */
  }
  
  .footerText {
    font-size: 14px;
  }
  